<link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet" />

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">

            <table id="comment-table" class="table border-collapse; " style="width:100%">
                <thead>
                    <tr>
                        <th>Content</th>
                        <th>IsConfirm</th>
                        <th>IsDeleted</th>
                        <th>MovieId</th>
                        <th>UserId</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody id="allComments">
                  
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"> </script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    <script src="~/js/AdminComment.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () { $('#comment-table').DataTable(); });
          
    </script>
}