
<link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css" rel="stylesheet">

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">

            <table id="example" class="table shoping-cart-table border-collapse: collapse; " style="width:100%">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody id ="allComments">
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"> </script>
    <script src="~/js/AdminComment.js" asp-append-version="true"></script>
   @* <script>

        $(document).ready(function () { $('#example').DataTable(); }); // bunu eklediysek burda datatable içine json data gondermemiz gerek
    </script>*@
}