@using FilmProject.Presentation.Models;
@model PostMovieViewModel
@{
}
<style>
		.category-list{
			margin-bottom: 10px;
		}
		.category-item{
			margin-right: 5px;
		}
	</style>
<br/><div class="container">
  <div class="row justify-content-center" >
        <div class="col-md-8 mb-5">
      <form asp-controller="Movie" id="movieForm" asp-action="CreateMovie" method="post"  enctype="multipart/form-data">
        <div class="form-group">
          <label asp-for="MovieName">Film İsmi</label>
          <input asp-for="MovieName" name="MovieName" type="text" class="form-control" id="movieName" placeholder="Filmin ismini giriniz.">
        </div>
        <div class="form-group">
          <label asp-for="MovieSummary">Film Özeti</label>
          <textarea asp-for="MovieSummary" name="MovieSummary" class="form-control" id="movieSummary" rows="3" placeholder="Filmin özetini giriniz."></textarea>
        </div>
        <div class="form-group">
          <label asp-for="DirectorName">Yönetmen Adı</label>
          <input asp-for="DirectorName"name="DirectorName" type="text" class="form-control" id="directorName" placeholder="Yönetmenin ismini giriniz.">
        </div>
        <div class="form-group">
          <label asp-for="RatingAge">İzleyici Kitlesi</label>
          <select asp-for="RatingAge" name="RatingAge" class="form-control" id="ratingAge">
            <option value="">Kitle seçin</option>
            <option value="0">Genel İzleyici</option>
            <option value="1">Yetişkin İzleyici</option>
          </select>
        </div>
        <div class="form-group">
          <label asp-for="PublishYear">Çıkış Tarihi</label>
          <input asp-for="PublishYear" name="PublishYear" type="date" class="form-control" id="publishYear">
        </div>
        <div class="form-group">
          <label asp-for="Photo">Film Afişi</label>
          <input asp-for="Photo"name="Photo" type="file" class="form-control-file" id="photoPath">
        </div>


        <div class="form-group">
          <label asp-for="ImdbUrl">IMDB Adresi</label>
          <input asp-for="ImdbUrl" name="ImdbUrl" type="url" class="form-control" id="imdbUrl" placeholder="Filmin IMDB adresini giriniz.">
        </div>
        <div class="form-group">
          <label asp-for="MovieLanguage">Filmin Dili</label>
           <select asp-for="MovieLanguage" name="MovieLanguage" class="form-control" id="movieLanguage">
            <option value="">Dil seçin</option>
            <option value="tr-TR">Türkçe</option>
            <option value="en-US">İngilizce</option>
          </select>
        </div>
        <div class="form-group">
		
		
            <label class="font-normal">Kategori Seçimi</label>
            <div>
                <select asp-for="CategoriesId" name="CategoriesId" data-placeholder="Kategori seçin"  class="chosen-select" multiple tabindex="4">   
                    
                </select>
            </div>   
            <div class="text-danger">
                <small id="errorSelect"></small>
            </div>
            
	    </div>
           <div class="form-group">
        <button type="submit" class="btn btn-primary">Ekle</button>
        <br/>
         </div>
      </form>
    </div>
  </div>
</div>

@section Styles {
    
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-chosen@1.4.2/bootstrap-chosen.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/AddMovie.css" />
}

@section scripts
{
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js" integrity="sha512-6S5LYNn3ZJCIm0f9L6BCerqFlQ4f5MwNKq+EthDXabtaJvg3TuFLhpno9pcm+5Ynm6jdA9xfpQoMz2fcjVMk9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="~/js/AddMovieFormJs.js" asp-append-version="true"></script>
}

