@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
      <div class="row wrapper border-bottom white-bg page-heading">

                <div class="col-lg-10">
                    <h2>Filmler</h2>
                    <ol class="breadcrumb">
                        <li class="active breadcrumb-item">
                            <a href="@Url.Action("GetMovieList", "Movie")"> <span class="nav-label" data-i18n="nav.layouts">Filmleri Listele</span></a>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                      @*<button type="button" class="btn btn-outline-info mt-5">Arşivi Göster</button>*@
              </div>
        </div>

<div class="wrapper wrapper-content animated fadeInRight">
     
             <div class="row" id="loadingMoviesForAdmin"> <div class="col-lg-12 d-flex justify-content-center ">@Html.Partial("_Loading")</div></div>
             <div class="row" id="MovieListRender">
                 @* movie render*@
                  


             </div> @*row 2 bitiş*@

         </div> @*wrapper bitiş*@


</div>
@section Scripts {
    <script src="~/js/AdminMovieList.js" asp-append-version="true"></script>
}