@using FilmProject.Presentation.Models
@model CategoryViewModel
<div class="container ">

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editForm">
                    <div class="modal-body">
                        <input type="hidden" id="EditId" asp-for="Id" name="Id">
                        <div class="form-group">
                            <label asp-for="CategoryName">Category Name</label>
                            <input type="text" class="form-control" id="EditCategoryName" asp-for="CategoryName" name="CategoryName">
                                                <span id="categoryUpdateError" class="text-danger p-3 mt-3"></span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="updateCategoryBtn">Update</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox">
            <div class="ibox-content">
                <form id="myForm2">


                    <div class="form-group row">
                        <label asp-for="CategoryName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10"><input id="category__name" type="text" asp-for="CategoryName" class="form-control"></div>
    
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary btn-sm" type="submit">Kategori Ekle</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="ibox ">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-striped table-bordered table-hover " id="categories-datatable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Category Name</th>
                            <th>Created</th>
                            <th style="width:100px;">*</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>




@section Styles {
    <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
}

@section Scripts{
    <script src="~/lib/dataTables/datatables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/AdminCategory.js" asp-append-version="true"></script>

}