@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">En çok beğenilen film</h5>
                    <h2 class="text-navy">
                        <i class="fa fa-heart"></i><span id="mostPopulerMovieName"></span>
                    </h2>
                    <small id="mostPopulerMovieOrtalama"></small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content ">
                    <h5 class="m-b-md">En çok yorum alan film</h5>
                    <h2 class="text-navy">
                        <i class="fa fa-film"></i> <span id="mostCommentedMovieName"></span>
                    </h2>
                    <small id="mostCommentedMovieCommentCount"></small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Toplam film sayisi</h5>
                    <h2 class="text-navy">
                        <i class="fa fa-shopping-bag"></i> <span id="moviesCount"></span>
                    </h2>
                    <small>.</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content ">
                    <h5 class="m-b-md">Toplam Yorum</h5>
                    <h2 class="text-navy">
                        <i class="fa fa-comment"></i> <span id="totalComment"></span>
                    </h2>
                    <small>.</small>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h5 class="m-b-md">Toplam kategori sayisi</h5>
                            <h2 class="text-navy">
                                <i class="fa fa-list-alt"></i><span id="categoryCount"></span>
                            </h2>
                            <small>.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h5 class="m-b-md">Toplam kullanici sayisi</h5>
                            <h2 class="text-navy">
                                <i class="fa fa-user"></i><span id="userCount"></span>
                            </h2>
                            <small>.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h5 id="languageH5"></h5>
                            <h2 id="languageOran"></h2>
                            <div class="text-center">
                                <div id="sparkline1"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h5 id="ratingAgeH5"></h5>
                            <h2 id="ratingAgeOran"></h2>
                            <div class="text-center">
                                <div id="sparkline2"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3>
                        Son Yuklenen 5 Film</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#" class="dropdown-item">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover " id="metrics-datatable">
                        <thead>
                            <tr>
                                <th>Film Adı</th>
                                <th>Film Yönetmeni</th>
                                <th>Film Orjinal Dili</th>
                                <th>Film Puanı</th>
                                <th>Flm Eklenme Tarihi</th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
}

@section Scripts{
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
     @if (TempData["SuccessMessage"] != null)
    {
        <script>
            swal(
                'Başarılı!',
                '@TempData["SuccessMessage"] isimli filmi ekleme işlemi başarılı!',
                'success'
            )
        </script>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            swal(
                'Hata!',
                '@TempData["ErrorMessage"] isimli filmi ekleme işlemi sırasında bir hata meydana geldi!',
                'error'
            )
        </script>
    }

    <script src="~/lib/dataTables/datatables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/AdminMetrics.js" asp-append-version="true"></script>
    <script src="~/lib/sparkline/jquery.sparkline.min.js"></script>

}