@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="wrapper wrapper-content animated fadeInRight">
     <div class="row">
        <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5 class="m-b-md">En çok beğenilen film</h5>
                        <h2 class="text-navy">
                            <i class="fa fa-heart"></i><span id="mostPopulerMovieName"></span>
                        </h2>
                        <small id="mostPopulerMovieOrtalama"></small> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content ">
                        <h5 class="m-b-md">En çok yorum alan film</h5>
                        <h2 class="text-navy">
                            <i class="fa fa-film"></i> <span id="mostCommentedMovieName"></span>
                        </h2>
                        <small id="mostCommentedMovieCommentCount"></small>
                    </div>
                </div>
            </div>
         <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5 class="m-b-md">Toplam film sayisi</h5>
                        <h2 class="text-navy">
                            <i class="fa fa-shopping-bag"></i> <span id="moviesCount"></span>
                        </h2>
                        <small>son 1 ayda 30 yeni film</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content ">
                        <h5 class="m-b-md">Toplam Yorum</h5>
                        <h2 class="text-navy">
                            <i class="fa fa-comment"></i> <span id="totalComment"></span>
                        </h2>
                      <small>Son 1 ayda 120 tane</small>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
                <div class="col-lg-6">
                          <div class="row">
                                     <div class="col-lg-6">
                                        <div class="ibox">
                                            <div class="ibox-content">
                                                <h5 class="m-b-md">Toplam kategori sayisi</h5>
                                                <h2 class="text-navy">
                                                    <i class="fa fa-list-alt"></i><span id="categoryCount"></span>
                                                </h2>
                                                <small>.</small> 
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-lg-6">
                                        <div class="ibox">
                                              <div class="ibox-content">
                                                <h5 class="m-b-md">Toplam kullanici sayisi</h5>
                                                <h2 class="text-navy">
                                                    <i class="fa fa-user"></i><span id="userCount"></span>
                                                </h2>
                                                <small>.</small> 
                                            </div>
                                        </div>
                                    </div>
                              </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                         <div class="col-lg-6">
                                  <div class="ibox">
                                      <div class="ibox-content">
                                        <h5 id="languageH5"></h5>
                                        <h2 id="languageOran"></h2>
                                        <div class="text-center">
                                            <div id="sparkline1"></div>
                                        </div>
                                    </div>
                                  </div>

                             </div>
                             <div class="col-lg-6">
                                  <div class="ibox">
                                      <div class="ibox-content">
                                        <h5 id="ratingAgeH5"></h5>
                                        <h2 id="ratingAgeOran"></h2>
                                        <div class="text-center">
                                            <div id="sparkline2"></div>
                                        </div>
                                    </div>
                                  </div>

                             </div>
                    </div>                  
               </div>
       </div>
    </div>


@section Scripts{   
       <script src="~/js/AdminMetrics.js" asp-append-version="true"></script>  
        <script src="~/lib/sparkline/jquery.sparkline.min.js"></script>
}