<body>

    @using Microsoft.Extensions.Localization;
    @inject IStringLocalizer<SharedResource> localizer;

    @using FilmProject.Presentation.Models
    @model IEnumerable<CategoryViewModel>
    <head>
        <script src="~/js/CustomJavaScript.js" asp-append-version="true"></script>
    </head>

    <ul>
        @foreach (var item in Model)
        {
            <li class="custom__category">
                <a href="#sectionFilters" class="custom-p2" data-id="@item.CategoryName">@localizer[@item.CategoryName] </a>  <i class="fa-sharp fa-light fa-house"></i>
            </li>
        }
    </ul>




</body>