@using FilmProject.Presentation.Models
@model IEnumerable<CommentViewModel>

@foreach (var item in Model)
{
    <tr>
        <td class="desc">
            <h3>
                <a href="#" class="text-navy">
                    @item.AppUser.UserName
                </a>
            </h3>
            <h3 class="text-grey">
                @item.MovieId
            </h3>

            <p class="small text-grey">
                @item.Created
            </p>

            <p class="small ">
                @item.Content
            </p>
        </td>
        <td class="text-right">
            <div class="d-flex flex-column">
                <button id="btn-test" class="btn btn-primary btn-block"><i class="fa fa-check"></i> Verify Comment</button>
                <button class="btn btn-secondary btn-block"><i class="fa fa-trash"></i> Delete Comment</button>
            </div>
        </td>

    </tr>

}