@using Microsoft.Extensions.Localization;

@inject IStringLocalizer<SharedResource> localizer;

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

   

    <!-- Hero Section Begin -->
    <section class="hero" >
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="https://tr.web.img4.acsta.net/newsv7/15/05/05/14/45/340122.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Aksiyon</div>
                                <h2>Marvel Serisinin En İyilerinden</h2>
                                <p>SHIELD adıyla tanınan uluslararası barış örgütünün başındaki isim Nick Fury, tüm dünyanın güvenliğine karşı büyük bir tehdit oluşturan düşmanla karşı karşıya kalır. Fury, 
                                    dünyayı yaklaşan bu felaketten kurtarmak için en cesur ve en 'süper' kahramanlardan oluşan bir ekip kurmak zorundadır...</p>
                                <a href="#"><span>Şimdi İzle</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="https://wallpaperaccess.com/full/888128.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Macera</div>
                                <h2>8 Sezonluk Macera</h2>
                                <p>Yazların onlarca yıl, kışların ise bir ömür sürebildiği bir diyar, 
                                    içten içe nifakla kaynamaktadır. Köklerini saldıkları topraklar kadar
                                    soğuk ve sert olan Starklar'ın kalesi Kıştepesi'nin kuzeyinde, 
                                    Yedi Krallık'ı koruyan Sur'un ardında tekinsiz güçler toplanmaktadır.</p>
                                <a href="#"><span>Şimdi İzle</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="https://collider.com/wp-content/uploads/twilight-breaking-dawn-part-2-banner.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Fantastik</div>
                                <h2>5 Bölüm süren bir heyecan ...</h2>
                                <p>On yedi yaşındaki Bella Swan annesi Renée evlenince babası 
                                    Charlie'nin yanında yaşamak üzere küçük bir kasaba olan Forks,
                                    Washington'a taşınır. Burada yüz sekiz yaşında bir vampir
                                    olup on yedi yaşında görünen gizemli sınıf arkadaşı Edward Cullen
                                    ile tanışır ve ona hemen ilk gördüğü anda ilgi duymaya başlar.</p>
                                <a href="#"><span>Şimdi İzle</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad" style="margin-top:50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="trending__product" id="movieRenderParent">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4 id="movieRenderTitle" > </h4>
                                </div>
                            </div>
                     
                        </div>

                        <div class="row" id="loadingMovies"> <div class="col-lg-12 d-flex justify-content-center ">@Html.Partial("_Loading")</div></div>
                        <div class="row" id="movieRender">
                            <!-- movie listelenyior -->
                        </div>
                    </div>
                                 
                </div>
            </div>
        </div>
    </div>
   
</div>
</div>
</div>
</div>
</section>
<!-- Product Section End -->






@section Scripts {
            <script src="~/js/mixitup.min.js"></script>
            <script src="~/js/jquery.slicknav.js"></script>
            <script src="~/js/owl.carousel.min.js"></script>
            <script src="~/js/main.js" asp-append-version="true"></script>
            <script src="~/js/player.js"></script>
            <script src="~/js/jquery.nice-select.min.js"></script>

            <script src="~/js/anasayfa.js" ></script>
            <script src="~/js/CustomJavaScript.js" ></script>
}
