<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FilmProject.Presentation</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
      <!-- Anasayfa Font -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/sitil.css" type="text/css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FilmProject.Presentation.styles.css" asp-append-version="true" />
</head>
<body>
     
      <div class="menu-btn">
               <div class="menu-btn__burger">
              </div>
       </div>

    <div class="d-flex" style="margin:0;padding:0;width:100%; height:100vh">

        <!-- Header -->
            <div class="h-100 c-header">
                <div class="position-fixed">
             
                    <div class="header-main">
                        <div class="header-top">

                          <div class="header-top-logo">L O G O</div>
                         
                          <div class="header-top-list">
                              <p class="custom-p1">Ozellikler</p>
                               <ul>
                                    <li>
                                     <a class="custom-p2"> En Çok Beğeni Alan Filmler</a>  <i class="fa-sharp fa-light fa-house"></i> 
                                    </li>

                                    <li>
                                    <a class="custom-p2"> En Çok Yorum Alan Filmler</a>    <i class="fa-sharp fa-light fa-house"></i>
                                    </li>

                                     <li>
                                      <a class="custom-p2"> En Son Yüklenen Filmler</a>  <i class="fa-sharp fa-light fa-house"></i>
                                    </li>
                                </ul>
                                  <div class="ortala"> <div class="cizgi"></div></div>
                             
                          </div>
                       
                     </div>

                        <div class="header-middle">
                            <p class="custom-p1">Kategoriler</p>
                            <ul>
                                <li>
                                   <a class="custom-p2"> Korku</a>  <i class="fa-sharp fa-light fa-house"></i> 
                                </li>
                                  <li>
                                    <a class="custom-p2">Drama</a>  <i class="fa-sharp fa-light fa-house"></i>
                                </li>
                                  <li>
                                    <a class="custom-p2">Bilim Kurgu</a>  <i class="fa-sharp fa-light fa-house"></i>
                                </li>
                                  <li>
                                   <a class="custom-p2">Aksiyon</a>  <i class="fa-sharp fa-light fa-house"></i>
                                </li>
                            </ul>
                        <div class="ortala"> <div class="cizgi"></div></div>
                     
                        </div>


                        <div class="header-bottom">
                             <a>LOG OUT</a> <i class="fa-sharp fa-light fa-house">icon</i> 
                        </div>
                    </div>
                </div>
            </div>
                 <!-- Header Bitiş -->


                    <!-- Main -->
            <div class="h-100 c-main">
                <main role="main">
                @RenderBody()
                </main>
            </div>

            
                    <!-- Main Bitiş -->
        </div>
 



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/player.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
