@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

    <h2>@ViewData["Title"]</h2>
    <partial name="_StatusMessage" model="Model.StatusMessage" />


@section scripts
{
    <script>

        $(document).ready(function(){
            setTimeout(function(){
            window.location.href = "/Home";
            }, 3000);
        });

    </script>
    
}

