@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = localizer["register_confirmation"];
}

<div class="container mt-4">
  <div class="alert alert-info text-center" role="alert">
    <div class="d-flex justify-content-center align-items-center">
      <span class="mr-2"><i class="fas fa-envelope"></i></span>
            <span>@localizer["register_confirmation_message"]</span>
    </div>
  </div>
</div>


@section scripts
{
    <script>

        $(document).ready(function(){
            setTimeout(function(){
            window.location.href = "/Home";
            }, 3000);
        });

    </script>
    
}

