@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = localizer["resend_email_confirmation"];
}
<section class="normal-breadcrumb set-bg" data-setbg="img/sidebar/tv-2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2 class="text-white">@ViewData["Title"]</h2>
                    <p class="text-white">@localizer["enter_your_email"]</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container ">
        <div class="row  d-flex justify-content-center">
            <div class="col-md-4">
                <div class="Identity__form form ">
                    <form method="post">
                        @*<div asp-validation-summary="All" class="text-danger"></div>*@

                        @*                    <div class="form-floating">
                        <input asp-for="Input.Em aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>*@


                        <div style="margin-bottom:20px">
                            <div class="input__item" style="margin-bottom:5px">
                                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder=@localizer["mail_address"] />
                                <span class="icon_mail mb-2"></span>
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="site-btn w-100">@localizer["resend"]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
