* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.y-container {
    display: flex;
    min-height: 100vh;
}
/*max-height*/
.y-sidebar {
    height: 100vh;
    width: 270px;
    transition: all ease-in-out 0.3s;
}

.y-content {
    width: 100%;
    background-color: #111;
    transition: all ease-in-out 0.3s;
}

/*Sidebar*/
.sidebar {
    background-color: #0F0F0F;
    color: gray;
    height: 100vh;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.sidebar__custom-header {
    font-size: 1.6rem;
    margin-left: 10px;
}

.sidebar p {
    margin-left: 20px;
}
.custom__category:hover {
    border-left: 3px solid rgba(255, 0, 0, .5);
    cursor: pointer;
    color: antiquewhite;
}
.custom__category.active {
    border-left: 3px solid red;
    color: indianred;
}

.sidebar ul li {
    padding: 10px;
    border-left: 3px solid transparent;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: start;
    gap: 10px;
}

    .sidebar ul li a {   
        font-size: 0.9rem;
    }
   

/*Sidebar Header*/
.sidebar__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.header__logo {
    font-size: 2rem;
}

    .header__logo:hover {
        cursor: pointer;
    }
/*Sidebar Features*/
.header__features {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*Sidebar Categories*/
.sidebar__categories {
    margin-top:20px;
    width: 90%;
}

.sidebar__bottom {
    color: white;
    font-size: 1rem;
}


/*header bottom*/
.header-bottom form {
    position:absolute;
    bottom:0;
    width: 50%;
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    transition: all ease-in-out 0.3s;
    font-size: small;
}

.sidebar__bottom:hover {
    color: whitesmoke;
}



.menu-btn {
    position: fixed;
    top: 30px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    z-index: 100;
    display: none;
}

.menu-btn__burger {
    width: 40px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

    .menu-btn__burger::before, .menu-btn__burger::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before {
        transform: translateY(-16px);
    }

    .menu-btn__burger::after {
        transform: translateY(16px);
    }




.line {
    width: 80%;
    margin-left: 10px;
    margin-top: 20px;
    border-top: 1px solid #46140c;
}



/*Animations */
.menu-btn.open .menu-btn__burger {
    background: transparent;
    transform: translateX(-50px);
    box-shadow: none;
}

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }



/* Media Querries */
@media screen and (max-width: 1450px) {
    .y-content {
        width: 100%;
    }

    .y-sidebar {
        position: fixed;
        height: 100vh;
        display: none;
        z-index: 99;
    }

    .sidebar {
        width: 310px;
    }
        .sidebar ul li a {
            font-size: 1.2rem;
        }
    .y-sidebar.show {
        display: block;
        transform: translate(0px,0);
    }

    .menu-btn {
        display: block;
        top: 20px;
        transform: translate(0,0);
    }
}
