.c-header {
    background-color: #0F0F0F;
    color: gray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}



.header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 99%;
}

.header-top-list {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .header-top-list p {
        text-align:center;
    }

    .header-top-list ul li {
        padding: 10px;
        border-left: 3px solid transparent;
        transition: all ease-in-out 0.3s;
        display: flex;
        justify-content: start;
        gap: 40px;
    }

        .header-top-list ul li:hover {
            border-left: 3px solid red;
            cursor: pointer;
            color: whitesmoke;
        }

.header-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

 
    .header-middle ul li {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 40px;
    }

        .header-middle ul li:hover {
            cursor: pointer;
            color: white;
        }

.header-bottom {
    margin-bottom: 15px;
}


ul {
    list-style: none;
    padding: 0;
}

.cizgi {
    width: 50%;
    margin-top: 30px;
    border-top: 1px solid #46140c;
}

.ortala {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-p1{
    font-size:x-large;
}